<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
<!-- Hoja de estilos de bootstrap enlazada vía CDN-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
</head>
<body>
	<!-- Navigation bar bootstrap -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/home">Home</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/user/list}">Users</a></li>
						<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/book/list}">Books</a></li>
	<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/user/form}">New User</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<h1 class="text-primary" th:text="${titulo}"></h1>
	<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
	<div class="alert alert-error" th:if="${error != null}" th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Member Since</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${list}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.createAt}"></td>
					<td>
							<a class="btn btn-primary btn-xs" th:href="@{/user/form/} + ${user.id}">
									Edit
							</a>
					</td>
					<td>
							<a class="btn btn-primary btn-xs" th:href="@{/user/delete/} + ${user.id}">
									Delete
							</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Script de bootstrap enlazado vía CDN-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>
</html>